header {
    width: 100%;
    height: 200px; /* Ajuste la hauteur selon le rendu souhaité */
    background-position: center; /* Centre l'image dans le header */
    background-repeat: no-repeat; /* Évite que l'image se répète */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; /* Ajuste cette valeur pour la taille souhaitée */
    color: #D4AF37; /* Met le texte en noir */
    font-family: 'Uncial Antiqua', serif; /* Applique la police médiévale */
    position: absolute;
    top: -20px;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('Logo_Projet.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.off-screen-menu {
    background-image: url("fond-plancher-bois_53876-88628.jpg");
    height: 100vh;
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    right : -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 28px;
    font-family: "MedievalSharp", serif;
    transition: .3s ease;
    background-repeat: no-repeat;
    background-size: cover;
}
.off-screen-menu.active {
    right: 0;
    z-index: 1001;
}
.acceuil {
    font-size: 28px;
    transition: 0.5s;
}
.acceuil.active {
    font-size: 32px;
}
.apropos {
    font-size: 28px;
    transition: 0.5s;
}
.apropos.active {
    font-size: 32px;
}
.contactus {
    font-size: 28px;
    transition: 0.5s;
}
.contactus.active {
    font-size: 32px;
}
.inspire {
    font-size: 28px;
    transition: 0.5s;
}
.inspire.active {
    font-size: 32px;
}
nav {
    width: 100%;
    height: 130px;
    padding : 1rem;
    display: flex;
    background-color: black ;
    box-sizing: border-box;
}
nav .logo {
    position: absolute;
    left: 20px;
}
.ham-menu {
    height: 50px;
    width: 50px;
    right: 15px;
    top: 45px;
    position: fixed;
    z-index: 1002;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: darkgoldenrod;
    border-radius: 25px;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
    z-index: 1002;
}
.ham-menu span:nth-child(3) {
    top: 75%;
    z-index: 1002;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    z-index: 1002;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    z-index: 1002;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.espace1{
    height: 12rem;
    width: auto;
}

.InspirationTitre {
    display: flex;
    font-family: 'Uncial Antiqua', serif;
    font-size: 4rem;
    color: darkgoldenrod;
    align-items: center;
    justify-content: center;
}

.Nos-inspirations {
    
    width: 75%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family:"Eagle Lake", monospace;
    color: black;
    font-size: 18px;
    padding: 1rem;
    border: 8px solid #8B4513;
    background-image: url("fond-plancher-bois_53876-88628.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Inspirations1 {
    display: block;
}
.Inspirations2 {
    display: block;
}
.Inspirations3 {
    display: block;
 }
.espaceNosInspirations {
    height: 30px;
}



body {
    background-color:  #380e02; /* Remplace par le chemin de ton image */
    background-size: cover;
    overflow-x: hidden;
}